<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Profile</div>
            <p class="paragraph-text justify-text">
                I am a Research Scientist with extensive experience in both biomedical research and data science. As a Research Associate at Harvard Medical School, I studied the molecular and neuronal basis of innate behaviors. I performed RNA-seq analysis using R to identify the genes that modulate level of aggression <a href="https://www.pnas.org/content/114/9/2373.long">(Chowdhury and Chan et al., 2017).</a>> More recently, I used linear regression and random forest algorithms to study correlation between behavioral data and neural function, and identify pairs of neuron that medicate aggressive behavior <a href="https://pubmed.ncbi.nlm.nih.gov/31231050/">(Alekseyenko and Chan et al., 2019).</a> 
            </p>
            <p class="paragraph-text justify-text">
                I am passionate about the field of data science. I joined the competitive Insight Data Science Fellowship program, where I created a web app that used computer vision AI to identify candy and warn users for any potential food allergens. I also love to teach and mentor students. I have worked as teaching assistant at Harvard Extension School where I led the online discussion sections of data science classes. I covered topics on both supervised and unsupervised learning including regression, classification, clustering methods and other machine learning algorithms. It is an extremely rewarding experience to explain difficult statistical concepts and communicate them with students and researchers. 
            </p>
        </div>
    </section>
</div>
