<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Profile</div>
            <p class="paragraph-text justify-text">
                I am a Research Scientist with extensive experience in both biomedical research and data science. I like to use data to develop hypothesis and drive research direction that yield meaningful <a href="https://pubmed.ncbi.nlm.nih.gov/31231050/">results</a>. 
            </p>
            <p class="paragraph-text justify-text">
                In my free time, I like to work on differnt data projects. More recently, I joined the competitive Insight Data Science Fellowship program, where I created a web app that used computer vision AI to identify candy and warned users for any potential food allergens. I also worked as teaching assistant at Harvard where I led the online discussion sections of data science class. I covered topics on both supervised and unsupervised learning including regression, classification, clustering methods and other machine learning algorithms. It is a very rewarding experience to explain difficult statistical concepts and share them with students and researchers. 
            </p>
        </div>
    </section>
</div>
