<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Publications</div>
            <p class="paragraph-text justify-text">
                Alekseyenko, O.V.<sup>*</sup>, Chan, Y.B.<sup>*</sup>, Okaty, B.W., Chang, Y., Dymecki, S.M., Kravitz, E.A. (2019) Serotonergic Modulation of Aggression in Drosophila Involves GABAergic and Cholinergic Opposing Pathways. Current Biology. 29(13):2145-2156. 
            
                Chowdhury, B.<sup>*</sup>, Chan, Y.B.<sup>*</sup>, and Kravitz, E.A. (2017) Putative transmembrane transporter modulates higher-level aggression in Drosophila. Proc. Natl. Acad. Sci. U.S.A. 114(9):2373-2378. 
            </p>
            <p class="paragraph-text justify-text">
                In my free time, 
            </p>
        </div>
    </section>
</div>
