<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Publications</div>
            <p class="paragraph-text justify-text">
                Alekseyenko, O.V.<sup>*</sup>, Chan, Y.B.<sup>*</sup>, Okaty, B.W., Chang, Y., Dymecki, S.M., Kravitz, E.A. (2019) Serotonergic Modulation of Aggression in Drosophila Involves GABAergic and Cholinergic Opposing Pathways. Current Biology. 29(13):2145-2156. 
            </p>

            <p class="paragraph-text justify-text">
                Chowdhury, B.<sup>*</sup>, Chan, Y.B.<sup>*</sup>, and Kravitz, E.A. (2017) Putative transmembrane transporter modulates higher-level aggression in Drosophila. Proc. Natl. Acad. Sci. U.S.A. 114(9):2373-2378. 
            </p>

            <p class="paragraph-text justify-text">
                Chan, Y.B., Alekseyenko, O.V., and Kravitz, E.A. (2015) Optogenetic control of gene expression in Drosophila. PLoS One. 10(9):e0138181. 
            </p>

            <p class="paragraph-text justify-text">
                Alekseyenko, O.V., Chan, Y.B., Fernández, M., Bulow, T., Pankratz, M.J., and Kravitz, E.A. (2014) Single serotonergic neurons that modulate aggression in Drosophila.  Current Biology. 24(22):2700-7.  
            </p>

            <p class="paragraph-text justify-text">
                Alekseyenko, O.V.<sup>*</sup>>, Chan, Y.B.<sup>*</sup>>, Li, R., and Kravitz, E.A. (2012). Single dopaminergic neurons that modulate aggression in Drosophila. Proc. Natl. Acad. Sci. U.S.A. 110(15):6151-6. 
            </p>

            <p class="paragraph-text justify-text">
                Fernández, M.<sup>*</sup>>, Chan, Y.B.<sup>*</sup>>, Yew, J., Billeter, J., Dreisewerd, K., Levine, J., and Kravitz, E.A. (2010). Pheromonal and Behavioral Cues Trigger Male-to-Female Aggression in Drosophila. PLoS Biology. 8(11):e1000541 
            </p>

            <p class="paragraph-text justify-text">
                Mundiyanapurath, S.<sup>*</sup>>, Chan, Y.B.<sup>*</sup>>, Leung, A.K.W., and Kravitz, E.A. (2009). Feminizing cholinergic neurons in a male Drosophila nervous system enhances aggression. Fly. 3(3):179-84. 
            </p>

            <p class="paragraph-text justify-text">
                Chan, Y.B. and Kravitz, E.A. (2007). Specific subgroups of FruM neurons control sexually dimorphic patterns of aggression in Drosophila melanogaster. Proc. Natl. Acad. Sci. U.S.A. 104(49):19577-82. 
            </p>

            <p class="paragraph-text justify-text">
                Nilsen, S.<sup>*</sup>>, Chan, Y.B.<sup>*</sup>>, Huber, R., and Kravitz, E.A. (2004). Gender-selective patterns of aggressive behavior in Drosophila melanogaster. Proc. Natl. Acad. Sci. U.S.A. 101(33):12342-7. 
            </p>

            <p class="paragraph-text justify-text">
                Chan, Y.B., Miguel-Aliaga, I., Franks, C., Trulzsch, B., Sattelle, D., Davies, K.E., and van den Heuvel, M. (2003). Neuromuscular defects in a Drosophila survival motor neuron gene mutant. Hum. Mol. Genet. 12(12):1367-76.
            </p>

            <p class="paragraph-text justify-text">
                * Authors with equal contributtion
            </p>
        </div>
    </section>
</div>
